
.app_title {
    font-size: 40px;
    color: black;
    margin-left: 10px;
}

.app_logo {
    margin-top: 8px;
    width: auto;
    height: 32px;
}


.validation_error {
    color: red;
    text-align: left;
    list-style: none;
}


.text-elipssis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}


.auth-form {
    width: 400px;
    margin: 16px;
}

.ad_image {
    display: block;
    object-fit: cover;
}

.image_preview {
    width: auto;
    height: 100px;
    border: 2px solid #f94f08;
    margin: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-indicators .active {
    background-color: white;
}



.carousel-indicators li {
    background-color: black;
    width: 10px;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 30px;
    color: black;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 30px;
    color: black;
}

.ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


