<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script>

    let inputCounter = 1;

    $(document).on('click', '#btnAddInput', function (event) {
        console.log("preven called a counter je " + inputCounter);
        event.preventDefault();
        inputCounter++;
        $("#inputFields").append("<div class=\"d-flex\"><input name=\"ads_ids\" autocomplete=\"off\" type=\"number\" max=\"999999999\" min=\"1\" class=\"form-control\" style=\"margin-right: 20px;\" placeholder=\"Inzerát č." + inputCounter + "\"> <input name=\"ads_intervals\" autocomplete=\"off\" type=\"number\" class=\"form-control\" placeholder=\"Refresh Interval\" style=\"margin-left: 20px;\"></div><br>");
    });

    $(document).on('change', '#checkbox', function (event) {
        event.preventDefault();
        let checkbox = $("#checkbox");
        if (this.checked == true) {
            $('#inputFieldsWithButton *').prop('disabled', true);
            $('#interval').prop('disabled', false);
            checkbox.prop("checked", true);
        } else {
            $('#inputFieldsWithButton *').prop('disabled', false);
            $('#interval').prop('disabled', true);
            checkbox.prop("checked", false);
        }
    });

    function saveAdIds() {
        let checkbox = $("#checkbox")[0];

        if (validateInputs(checkbox)) {
            var ads_ids = [];
            var ads_intervals = [];

            if (checkbox.checked === true) {
                ads_intervals = [$("#interval").val()];
            } else {
                let ads_ids_inputs = $("[name='ads_ids']");
                let ads_intervals_inputs = $("[name='ads_intervals']");

                for (let i = 0; i < ads_ids_inputs.length; i++)
                    ads_ids.push(ads_ids_inputs[i].value)

                for (let i = 0; i < ads_intervals_inputs.length; i++)
                    ads_intervals.push(ads_intervals_inputs[i].value)

                console.log("ads input ids length " + ads_ids_inputs.length);
                console.log("ads input intervals lenght " + ads_intervals_inputs.length);
            }

            $.ajax({
                type: "POST",
                url: "save_ads_ids",
                data: {
                    ads_ids: ads_ids,
                    intervals: ads_intervals
                },
                success: function () {
                    alert("Inzeráty boli pridané úspešne.");
                },
                error: function () {
                    alert("Inzeráty nepodarilo pridať.");
                }
            });
            $("#addAdvertisementsModal .close").click();
        }
    }


    function validateInputs(checkbox) {
        if (checkbox.checked === false) {
            // validating manually added advertisements
            let ads_ids_inputs = $("[name='ads_ids']");
            for (let i = 0; i < ads_ids_inputs.length; i++) {
                if (ads_ids_inputs[i].value.length !== 9) {
                    alert("Všetky ID inzerátov musia obshaovať 9 znakov...");
                    return false;
                }
            }

            let ads_intervals_inputs = $("[name='ads_intervals']");
            for (let i = 0; i < ads_intervals_inputs.length; i++) {
                if (ads_intervals_inputs[i].value <= 0 || ads_intervals_inputs[i].value > 60) {
                    alert("Refresh interval musí nadobúdať hodnotu od 1 do 60...");
                    return false;
                }
            }
            return true;
        } else {
            // validating only single interval input
            let intervalValue = $("#interval").val();
            if (intervalValue === "" || intervalValue == null || parseInt(intervalValue) <= 0 || parseInt(intervalValue) > 60) {
                alert("Refresh interval musí nadobúdať hodnotu od 1 do 60...");
                return false;
            }
        }
        return true;
    }

</script>
<div class="modal fade" id="addAdvertisementsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pridať inzeráty</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <small>Tu musíš pridať ID inzerátov z Bazošu, ktoré chceš automatizovať...</small>
                    <br>
                    <small>Príklad: 112836480 (9 - miestne číslo)</small>
                    <br>
                    <br>
                    <div class="form-group">
                        <div class="d-flex align-items-center">
                            <input checked="checked" type="checkbox" id="checkbox" style="margin-right: 20px;">
                            <label for="checkbox">Automatizovať všetky inzeráty z môjho bazoš
                                profilu na základe e-mailu použitého v registrácií</label>
                        </div>

                        <input autocomplete="off" type="number" class="form-control" id="interval"
                               placeholder="Refresh Interval">

                        <div id="inputFieldsWithButton">
                            <div id="inputFields">
                                <br>
                                <div class="d-flex">
                                    <input disabled="disabled" type="number" maxlength="3" min="1" class="form-control"
                                           name="ads_ids"
                                           placeholder="Inzerát č.1" style="margin-right: 20px;" autocomplete="off">

                                    <input disabled="disabled" type="number" class="form-control" name="ads_intervals"
                                           placeholder="Refresh Interval" style="margin-left: 20px;" autocomplete="off">
                                </div>
                                <br>
                            </div>
                            <input disabled="disabled" type="submit" id="btnAddInput" class="btn btn-info"
                                   value="Ďalší inzerát"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvoriť</button>
                <button type="button" class="btn btn-primary" onclick="saveAdIds()">Pridať
                </button>
            </div>
        </div>
    </div>
</div>