{% extends 'base.html' %}

{% block head %}

    <title>Bazoš Bot</title>

{% endblock %}

{% block body %}


    <script>

        function onImageUpload() {
            let preview = document.getElementById("preview");
            let imageField = document.getElementById("image");
            let innerHTML = '';

            for (let img of imageField.files) {
                let reader = new FileReader();

                reader.readAsDataURL(img);
                reader.onload = function (e) {
                    // get loaded data and render thumbnail.
                    innerHTML += "<img class='image_preview' src=" + e.target.result + ">" + "</img>";

                    preview.innerHTML = innerHTML;
                    console.log("called na ochagne");
                };
            }

            // add br after the preview div
            let br = document.createElement("br");
            insertAfter(preview, br);


        }

        function insertAfter(referenceNode, newNode) {
            referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
        }


        function onSectionChanged() {

            let sectionsSelector = document.getElementById("section_select")
            let categoriesSelector = document.getElementById("categories_select")

            console.log("started");
            const section = sectionsSelector.value;
            console.log(section);

            //TODO Fix workaround
            fetch("{{ url_for('ads.fetch_bazos_categories',section="value")}}".replace("value", section)).then(function (response) {
                console.log("fetch started");

                response.json().then(function (data) {
                    let optionHTML = "";

                    for (let category of data.categories) {
                        optionHTML += '<option class="image_preview" value="' + category.value + '">' + category.category_text + '</option>'
                    }

                    categoriesSelector.innerHTML = optionHTML;
                    console.log("data setted");
                });
            })
        }


    </script>



    <div class="container">

        <br>

        <h3>Pridať inzerát</h3>

        <form method="POST" action="{{ url_for("ads.add_advertisement") }}" enctype="multipart/form-data"
              class="text-center">

            {{ form.csrf_token }}
            <br>
            {{ form.section(class='form-control', onchange="onSectionChanged()", placeholder='Rubrika',id="section_select", style='max-width: 400px;') }}
            <br>
            {{ form.category(class='form-control', placeholder='Kategória', id="categories_select", style='max-width: 400px;') }}
            <br>
            {{ form.title(class='form-control', placeholder='Nádpis', style='max-width: 600px;') }}
            <br>
            {{ form.text(class='form-control', placeholder='Text',rows="3") }}
            <br>
            <div class="row align-items-center m-0">
                {{ form.price(class='form-control', placeholder='Cena v €', style='max-width: 150px;') }}
                <div style="margin-left: 10px; margin-right: 10px;">Alebo</div>
                {{ form.price_select(class='form-control', placeholder='Rubrika', style='max-width: 240px;') }}
            </div>
            <br>
            {{ form.zip_code(class='form-control', placeholder='PSČ' , style='max-width: 150px;') }}
            <br>
            {{ form.image(class="d-flex align-content-start", placeholder='Pridaj fotky', onchange="onImageUpload()") }}
            <br>
            <div class="d-flex align-content-start flex-wrap" id="preview"></div>

            {{ form.phone(class='form-control', placeholder='Mobilné číslo', style='max-width: 250px;') }}
            <br>
            {{ form.ad_password(class='form-control', placeholder='Heslo inzerátu', style='max-width: 250px;') }}
            <br>
            <button class="btn btn-lg btn-primary btn-block" style="background-color: #f94f08; border-color: #f94f08;"
                    type="submit">Pridať inzerát
            </button>
            <br>
            <br>
            <br>

            {% with errors = get_flashed_messages() %}
                {% if errors %}
                    {% if errors|length > 1 %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {%- for msg in errors %}
                                    {% for m  in msg %}
                                        <li class="validation_error">{{ m }}</li>
                                    {% endfor %}

                                {% endfor -%}
                            </ul>
                        </div>
                    {% else %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {%- for msg in errors %}
                                    <li class="validation_error">{{ msg }}</li>
                                {% endfor -%}
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}
            {% endwith %}

        </form>
    </div>



{% endblock %}
