
<script>

    function saveCookie() {
        let cookieInput = document.getElementById("cookie");
        console.log("cookie je " + cookieInput.value);
    }

</script>
<div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pridať cookie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <small>Aby bot fungoval správne je nutné pridať cookie, ktoré obdržíš po overení telefónneho čísla
                        na Bazoši.</small>
                    <br>
                    <small>Priklad : _ga=GA1.2.1097115696.1591092093; _gid=GA1.2.578207826.1591092093; bid=35797869;
                        bkod=273WXWMGFP; testcookie=ano;
                        __gfp_64b=k78R.IcLOGgD2nSd5M4F4fgtq4lw0.el4mlV8DOCzMb.37</small>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Cookie:</label>
                        <input type="text" class="form-control" id="cookie">
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvoriť</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveCookie()">Pridať
                </button>
            </div>
        </div>
    </div>
</div>