{% extends 'base.html' %}

{% block head %}

    <title>Bazoš Bot</title>

{% endblock %}

{% block body %}

    <script>
        function val() {

            var selector = document.getElementById("section_select")
            $.ajax({
                type: 'POST',
                url: {{ url_for('ads.fetch_bazos_categories')}},
                data: {'section': selector.value},
                dataType: 'json',
                success: function (response) {
                    $('#categories_select')
                        .find('option')
                        .remove()
                        .end()
                    console.log(response);
                    var i;
                    console.log("response length je " + response.length)
                    for (i = 0; i < response.length; i++) {
                        $('#categories_select')
                            .append($("<option></option>")
                                .attr("value", response[i][0])
                                .text(response[i][1]));
                    }
                },
            });
        }
    </script>

    <div class="float-left col-4">

        <h3>Pridať inzerát</h3>

        <form method="POST" action="{{ url_for("ads.edit_advertisement", ad_id=ad.id) }}" class="text-center">

            <br>
            {{ form.csrf_token }}
            <br>
            {{ form.section(class='form-control', placeholder='Rubrika',onchange="val()" ,id="section_select", value= ad.section_value) }}
            {% with errors = get_flashed_messages(category_filter=["email"]) %}
                {% if errors %}
                    <ul>
                        {%- for msg in errors %}
                            {% for m  in msg %}
                                <li class="validation_error">{{ m }}</li>
                            {% endfor %}

                        {% endfor -%}
                    </ul>
                {% endif %}
            {% endwith %}
            <br>
            {{ form.category(class='form-control', placeholder='Kategória', id="categories_select",  value= ad.category_value) }}
            {% with errors = get_flashed_messages(category_filter=["password"]) %}
                {% if errors %}
                    <ul>
                        {%- for msg in errors %}
                            {% for m  in msg %}
                                <li class="validation_error">{{ m }}</li>
                            {% endfor %}

                        {% endfor -%}
                    </ul>
                {% endif %}
            {% endwith %}


            <br>
            {{ form.title(class='form-control', placeholder='Nádpis',  value=ad.title) }}
            {% with errors = get_flashed_messages(category_filter=["password"]) %}
                {% if errors %}
                    <ul>
                        {%- for msg in errors %}
                            {% for m  in msg %}
                                <li class="validation_error">{{ m }}</li>
                            {% endfor %}

                        {% endfor -%}
                    </ul>
                {% endif %}
            {% endwith %}
            <br>
            <div class="form-group">
                {{ form.text(class='form-control', placeholder='Text', id="exampleFormControlTextarea1",rows="3",  value= ad.text) }}
                {% with errors = get_flashed_messages(category_filter=["password"]) %}
                    {% if errors %}
                        <ul>
                            {%- for msg in errors %}
                                {% for m  in msg %}
                                    <li class="validation_error">{{ m }}</li>
                                {% endfor %}

                            {% endfor -%}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <br>


            {{ form.price(class='form-control', placeholder='Cena v €',  value=ad.price) }}
            {% with errors = get_flashed_messages(category_filter=["password"]) %}
                {% if errors %}
                    <ul>
                        {%- for msg in errors %}
                            {% for m  in msg %}
                                <li class="validation_error">{{ m }}</li>
                            {% endfor %}

                        {% endfor -%}
                    </ul>
                {% endif %}
            {% endwith %}
            <br>
            {{ form.price_select(class='form-control', placeholder='Rubrika') }}
            {% with errors = get_flashed_messages(category_filter=["email"]) %}
                {% if errors %}
                    <ul>
                        {%- for msg in errors %}
                            {% for m  in msg %}
                                <li class="validation_error">{{ m }}</li>
                            {% endfor %}

                        {% endfor -%}
                    </ul>
                {% endif %}
            {% endwith %}
            <br>
            {{ form.zip_code(class='form-control', placeholder='PSČ', value=ad.zip_code) }}
            {% with errors = get_flashed_messages(category_filter=["password"]) %}
                {% if errors %}
                    <ul>
                        {%- for msg in errors %}
                            {% for m  in msg %}
                                <li class="validation_error">{{ m }}</li>
                            {% endfor %}

                        {% endfor -%}
                    </ul>
                {% endif %}
            {% endwith %}
            <br>
            {{ form.image( placeholder='Pridaj fotky') }}
            {% with errors = get_flashed_messages(category_filter=["password"]) %}
                {% if errors %}
                    <ul>
                        {%- for msg in errors %}
                            {% for m  in msg %}
                                <li class="validation_error">{{ m }}</li>
                            {% endfor %}

                        {% endfor -%}
                    </ul>
                {% endif %}
            {% endwith %}
            <br>
            <br>
            {{ form.phone(class='form-control', placeholder='Mobilné číslo', value=ad.phone) }}
            {% with errors = get_flashed_messages(category_filter=["password"]) %}
                {% if errors %}
                    <ul>
                        {%- for msg in errors %}
                            {% for m  in msg %}
                                <li class="validation_error">{{ m }}</li>
                            {% endfor %}

                        {% endfor -%}
                    </ul>
                {% endif %}
            {% endwith %}
            <br>
            {{ form.ad_password(class='form-control', placeholder='Heslo inzerátu', value=ad.ad_password) }}
            {% with errors = get_flashed_messages(category_filter=["password"]) %}
                {% if errors %}
                    <ul>
                        {%- for msg in errors %}
                            {% for m  in msg %}
                                <li class="validation_error">{{ m }}</li>
                            {% endfor %}

                        {% endfor -%}
                    </ul>
                {% endif %}
            {% endwith %}
            <br>
            <button class="btn btn-lg btn-primary btn-block" style="background-color: #f94f08; border-color: #f94f08;"
                    type="submit">Pridať inzerát
            </button>
            <br>

        </form>
    </div>



{% endblock %}
