<script>

    function saveProfile() {
        let cookieInput = document.getElementById("cookie");
        let passwordInput = document.getElementById("password");

        $.ajax({
            type: "POST",
            url: "save_profile",
            data: {
                cookie: cookieInput.value,
                ad_password: passwordInput.value
            },
            success: function () {
                alert("Dáta úspešne uložené.");
            },
            error: function () {
                alert("Dáta sa nepodarilo uložiť.");
            }
        });
    }

</script>
<div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <small>Aby bot fungoval správne je nutné pridať cookie, ktoré obdržíš po overení telefónneho čísla
                        na Bazoši.</small>
                    <br>
                    <br>
                    <small>Priklad : _ga=GA1.2.1097115696.1591092093; _gid=GA1.2.578207826.1591092093; bid=35797869;
                        bkod=273WXWMGFP; testcookie=ano;
                        __gfp_64b=k78R.IcLOGgD2nSd5M4F4fgtq4lw0.el4mlV8DOCzMb.37</small>
                    <div class="form-group">

                        <input type="text" class="form-control" id="cookie" placeholder="Cookie">
                        <br>
                        <small>Aby Bazoš Bot dokázal zmazať tvoje inzeráty, je nutné pridať heslo k tvojím
                            inzerátom</small>
                        <input type="text" class="form-control" id="password" placeholder="Heslo">

                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvoriť</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveProfile()">Pridať
                </button>
            </div>
        </div>
    </div>
</div>