{% extends 'auth_base.html' %}


{% block head %}

    <title>Bazoš Bot</title>

{% endblock %}


{% block body %}


    <div class="d-flex vh-100">
        <div class="d-flex w-100 justify-content-center align-self-center text-center">
            <form method="POST" action="{{ url_for("auth.register") }}" class="auth-form">
                <div class="row justify-content-center m-0 p-0">
                    <img src="{{ url_for('static', filename='images/bazos_bot_logo.gif') }}" alt="Bazoš logo"
                         class="app_logo">
                    <h1 class="app_title">Bazoš Bot</h1>
                </div>
                <br>
                {{ form.csrf_token }}
                {{ form.username(class='form-control', placeholder='Použivateľské meno') }}
                <br>
                {{ form.email(class='form-control' , placeholder='Email') }}
                <br>
                {{ form.password(class='form-control' , placeholder='Heslo') }}
                <br>
                {{ form.confirm_password(class='form-control',   placeholder='Potvrď heslo') }}
                <br>
                <button class="btn btn-lg btn-primary btn-block"
                        style="background-color: #f94f08; border-color: #f94f08;"
                        type="submit">Registrovať sa
                </button>

                <br>
                <h6>Už máš konto? </h6> <a href="{{ url_for('auth.login') }}">Prihlásiť sa</a>


                <br>
                <br>
                <br>
                {% with errors = get_flashed_messages() %}
                    {% if errors %}
                        {% if errors|length > 1 %}
                            <div class="alert alert-danger" role="alert">
                                <ul>
                                    {%- for msg in errors %}
                                        {% for m  in msg %}
                                            <li class="validation_error">{{ m }}</li>
                                        {% endfor %}

                                    {% endfor -%}
                                </ul>
                            </div>
                        {% else %}
                            <div class="alert alert-danger" role="alert">
                                <ul>
                                    {%- for msg in errors %}
                                        <li class="validation_error">{{ msg }}</li>
                                    {% endfor -%}
                                </ul>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>

{% endblock %}
